<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>First Page</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <p>first-page works!</p>

    <!--   <h2>Data List, {{ title() }}</h2>

    <ul>
      <li *ngFor="let data of dataList">
        {{ data.id }} -  {{ data.title }} - {{ data.completed ? 'Completed' : 'Pending' }}
      </li>
    </ul>

    <p *ngIf="errorMessage">{{ errorMessage }}</p>
    <p *ngIf="!dataList.length">No data available.</p>
  
    <button (click)="sendPost()">Load Datas</button>
    <p>tracking..,  {{ tracking }} </p>
    <p>count.., {{ count }} </p>
    <p>isAdmin.., {{ isAdmin() }} </p>
  -->
        <!--   <h2>Data List, {{ title() }}</h2>
        
            <ul>
              <li *ngFor="let data of dataList">
                {{ data.id }} -  {{ data.title }} - {{ data.completed ? 'Completed' : 'Pending' }}
              </li>
            </ul>
        
            <p *ngIf="errorMessage">{{ errorMessage }}</p>
            <p *ngIf="!dataList.length">No data available.</p>
          
            <button (click)="sendPost()">Load Datas</button>
            <p>tracking..,  {{ tracking }} </p>
            <p>count.., {{ count }} </p>
            <p>isAdmin.., {{ isAdmin() }} </p>
          -->

</body> 
</html>
